.code-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1e1f2b;
  border-radius: 5px;
  padding: 25px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 90vw;
  max-height: 90vh;
  overflow-y: auto;
}

.code-modal-main-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.35);
  cursor: pointer;
}

.code-modal-title {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: #f0f1f6;
  margin-bottom: 20px;
}

.code-modal-code {
  background-color: #1e1f2b;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 18px;
  margin: 0;
}

.code-modal-close-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: #414458;
  color: #f0f1f6;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
  align-self: flex-end;
}
