.search-page-pagination {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.search-page-pagination-page-container {
    display: flex;
    align-items: center;
    gap: 5px;
}