.cards {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
  max-width: 160em;
  margin: auto;
  margin-bottom: -11.4px;
  justify-content: center;
  gap: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 18.5px;
}

.tag-card {
  background-color: #233551;
  color: #629ee1;
  max-width: 50em;
  cursor: pointer;
}

.card-content {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  gap: 30px;
  padding: 18.5px 30px;
}

.card-img {
  max-width: 60px;
  vertical-align: middle;
}

.card-title {
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
  color: #f0f1f6;
}

.info-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  margin: 100px auto 30px;
  padding: 0 30px;
  width: 100%;
  max-width: 1200px;
}

.info-container h3 {
  font-size: 21px;
  margin-top: 0;
  margin-bottom: 18.5px;
  font-weight: 600;
  line-height: 1.2;
  color: #f0f1f6;
}

.info-container a {
  color: #388ee9;
  text-decoration: none;
  margin-left: 2px;
}

.info-container a:hover {
  color: #f0f1f6;
}

.info-col {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.info-card {
  width: 100%;
}

.hugin-description {
  padding: 30px;
}

@media screen and (min-width: 767px) {
  .hugin-description {
    padding: 50px;
  }
}

.hugin-description img {
  max-width: 50px;
}

.hugin-description p {
  font-size: 17.5px;
}

.hugin-description-title {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

.hugin-description-title h2 {
  margin: 0;
  font-weight: 600;
  line-height: 1.2;
  font-size: 32px;
  color: #f0f1f6;
}

.tech-link {
  display: flex;
  align-items: center;
  gap: 8px;
  word-break: break-all;
}

.right-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-col > * {
  padding: 18.5px;
}

.raven-icon {
  width: 100%;
  max-width: 50px;
}

@media screen and (min-width: 768px) {
  .info-container {
    flex-direction: row;
  }

  .left-col {
    flex: 8;
  }

  .right-col {
    flex: 4;
  }
}

@media screen and (min-width: 1200px) {
  .hugin-description-title h2 {
    font-size: 38px;
  }

  .info-container h3 {
    font-size: 22px;
  }
}
